<progress style="width: 500px; height: 25px;" value="32" max="100"></progress>
<form>
  <input type="file" (change)="onUploadFile($any($event.target).files)" multiple>
  <!-- <input type="file" (change)="onUploadFile($event)" multiple> -->
</form>




<!-- <div class="main_div">

  <mat-toolbar>
    <span>Trainaing task #1</span>
  </mat-toolbar>
  <h4>GET Request : list of users</h4>
  <div>
    <mat-form-field >
      <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Filter">
    </mat-form-field>
    <div matSort class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumnsData;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>


  <h4>POST Request : Create new user</h4>
 <p>
    {{postJsonValue | json}}
  </p>
</div>
 -->
